{% extends 'base.html' %}
{% load static %}
{% block title %} Change password {% endblock title %}
{% block body %}
<body>
  <div class="container">
    <div style="margin:10px">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <div style="margin:25px">
            <h1 class="card-title text-center">Change Password Form</h1>
          </div>
            <form class="form-change_password" novalidate method="post">
                {% csrf_token %}
                {% include 'include/form.html' %}
                <button type="submit">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
{% endblock body %}