{% extends 'base.html' %}
{% load static %}
{% block title %} changed {% endblock title %}
{% block body %}
<body>
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <div style="margin:40px">
            <h1 class="card-title text-center">successfully Changed</h1>
            <div style="margin:20px">
            <h3>Succesfully changed your password</h3>
              </div>
            <a href="{% url 'login' %}" class="btn btn-secondary"> Return to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
{% endblock body %}