{% extends 'base.html' %}
{% load static %}
{% block title %} Reset Password Page {% endblock title %}
{% block body %}
<body>
  <div class="container">
    <div style="margin:35px">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <h1 class="text-center"><a href="{% url 'index' %}">Home</a></h1>
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <div class="alert alert-success" role="alert">
                Your password has been changed successfully!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</body>
{% endblock body %}