{% extends 'base.html' %}
{% load static %}
{% block title %} Forgot your password {% endblock title %}
{% block body %}
<body>
  <div class="container">
    <div style="margin:50px">
    <div class="row">
      <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <div style="margin:25px">
            <h1 class="card-title text-center">Reset form</h1>
              </div>
            <form class="form-signin" novalidate method="post">
                {% csrf_token %}
                {% include '../include/form.html' %}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change password</button>
            </form>
          </div>
        </div>
      </div>
    </div>

</body>
{% endblock body %}