{% extends 'base.html' %}
{% load static %}

{% block body%}
<!--start-about-->
<div class="section_mod-f" style="margin:40px">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<section class="section_mod-g">
					<h2 class="ui-title-block" style="color:green">Farming Web Assistant</h2>
					<div class="ui-subtitle-block">MOST TRUSTED Dealer OF AGRICULTURAL PRODUCTS IN 16+ COUNTRIES</div>
					<img src="{% static 'images/authorizedde.png' %}" width="70%" alt="Digital Soil Testing Lab, Soil Testing Kit, Soil Health Card, Soil Health Card Machine, Soil Testing Meter, Soil Testing Kit in India, Agriculture Soil Testing Kit, Soil NPK, Soil Micro Nutrients, Soil Macro Nutrients, Dr. SC Datta, W S Telematics, WS Telematics Pvt Ltd, IARI Pusa, Pusa, Indian Agricultural Reserach Institute, IARI Soil Testing Kit, ICAR, Indian Council for Agricultural Research">
					<p style="text-align:justify">
						Farmig web Assistant is India's most trusted Website of innovative agriculture technology products and instruments. Today our products are being used in all states of India and over 16+ countries around the globe.<br></p>
					</br>

					<p style="text-align:justify">
						At <b>Farmig web Assistant</b>, we have a powerful story to tell - a history of great achievements, world class talent, and innovative breakthroughs. Most importantly, we have a history of helping our customers in reaching new heights.</p>
					</br>

					<p style="text-align:justify">
						Today, we are one of the leading agriculture technology company in India & the <b>top manufacturers of Digital Soil Testing Kits</b>. Our aim is to use our knowledge & experience in bringing latest and best technologies to the door-step of farmers. We have committed ourselves to the vision & mission of Soil Health Card, Make in India, Digital India, Start-up India & UN Sustainable Development Goals.</p>
					</br>
				</section>
			</div>


			<div class="col-md-6" >
				<section class="section_mod-d">
					<h2 class="ui-title-block" style="color:green">Our Mission: 'Customers First'</h2>
					<div class="ui-subtitle-block">Quality. Commitment. Trust.</div>

					<p>At Farmig web Assistant, we highly value 3 core values, that are Quality, Commiment & Trust, & we put our customers first, always.</p><br>
					<ul class="list-mark list-mark_mrg_btn">
						<li>India’s largest principle manufacturer of Digital Soil Testing Labs.</li>
						<li>Digital Soil Testing Labs being used by the Government of India in the Soil Health Card mission of Prime Minister Shri Narendra Modi Ji.</li>
						<li>Harvesto was presented in front of Prime Minister in 2016 and applauded by him for our contribution to the agriculture sector.</li>
						<li>Harvesto was presented in front of Hon’ble President of India Shri Ram Nath Kovind Ji at the Rashtrapati Bhawan, New Delhi in 2018.</li>
						<li>Harvesto's Director went on business delegation by Government of India to the Kingdom of Morocco where several MoU’s were signed between the two countries.</li>
						<li>Created 300+ agripreneurs in rural areas as part of our efforts to energise the rural agriculture sector.</li>
						<li>Our Digital Soil Testing Labs are operational in all states of India.</li>
						<li>Our products are operational in over 16+ countries around the globe.</li>
						<li>Highly trusted by our esteemed customers like Agriculture Departments, Government Soil Testing Labs, KVKs, Fortune 500 Indian companies, private agriculture companies, farmers and agriculture entrepreneurs.</li>
					</ul>


					<div class="row">
						<div class="col-sm-6"><img class="img_mod-b img-responsive" src="{% static 'images/agriculture-technology-370x150.png' %}" height="210" width="270" alt="Agriculture Technology,Drone,WS TELEMATICS,STFR METER,AGRICULTURE DRONE"></div>
						<div class="col-sm-6"><img class="img_mod-b img-responsive" src="{% static 'images/electronics-manufacturing-370x150.png' %}" height="210" width="270" alt="ELECTRONICS MANUFACTURING,WS TELEMATICS"></div>
					</div>
					<br>

				</section>
			</div>



		</div>
	</div>
</div>


<!--End-about-->
<!--start-choose-->
<div class="choose">
	<div class="container">
		<div class="choose-top">
			<h3>WHY CHOOSE US</h3>
			<P>Farming Web Assistant is highly recommended and very well known for our superior customer service</P>
		</div>
		<div class="choose-bottom">
			<div class="col-md-4 choose-left">
				<span class="choose-one"> </span>
				<h4>Why We Do</h4>
				<p> Every year over 2 Lakh farmers give agriculture due to lack of resources,
					we help optimize these resources.</p>
			</div>
			<div class="col-md-4 choose-left">
				<span class="choose-two"> </span>
				<h4>What We Do</h4>
				<p>Design, develop and manufacture relevant agricultural equipments that
					can save money and time for the farmer.</p>
			</div>
			<div class="col-md-4 choose-left">
				<span class="choose-tre"> </span>
				<h4>Team</h4>
				<p>With technical and marketing expertise Kamal Kisan team is ready to
					take on the tough terrains of rural India.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>



{% endblock body %}