{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}

<link href="{% static 'css/paginate.css' %}" rel='stylesheet' type='text/css' />

{% endblock stylesheet %}

{% block body %}
<!--starts-blog-->
<div class="blog">
    {% if all_blog %}
    <div class="container">
        {% for data in all_blog %}
        <div class="blog-main">
            <div class="col-md-8 blog-main-left">
                <h3>BLOG</h3>
                <div class="blg">
                    <div class="col-md-4 blog-left">
                        <a href="single.html"><img src="{{ data.blog_image.url }}" alt=""></a>
                    </div>
                    <div class="col-md-8 blog-left">
                        <h5>{{ title }}</h5>
                        <span>by <a href="#">{{ data.created_by }}</a>{{  data.created_date }}  <a href="#">  comments&nbsp;(2)</a></span>
                          <h3>{{ data.title }}</h3>
                        <p>{{  data.blog_desc }}</p>
                        <div class="blog-btn">
                            <a href="{% url 'single' %}">Read More</a>
                             <a href="#">Comment</a>
                            <a href="{% url 'feedback' data.id %}">Feedback</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% endif %}


            <div class="col-md-4 blog-main-left">
                <h3>CATEGORIES</h3>
                <div class="ctgry">
                    <ul>
                        <li><a href="#">Nulla consectetur adipiscing metus</a></li>
                        <li><a href="#">purus vitae varius sagittis</a></li>
                        <li><a href="#">Epsum factorial non deposit quid</a></li>
                        <li><a href="#">Donec eu elit in nisi placerat</a></li>
                        <li><a href="#">Curabitur congue eros ac turpis</a></li>
                    </ul>
                </div>
                <div class="archives">
                    <h3>ARCHIVES</h3>
                    <ul>
                        <li><a href="#">November,2013</a></li>
                        <li><a href="#">May,2013</a></li>
                        <li><a href="#">April,2013</a></li>
                        <li><a href="#">June,2013</a></li>
                        <li><a href="#">August,2013</a></li>
                        <li><a href="#">January,2013</a></li>
                    </ul>
                </div>
                <div class="search">
                    <h3>SEARCH</h3>
                    <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
                    <input type="submit" value="Search" />
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
<!-------------------------------------------------------Paginations ------------------------------------------------------->
    <div class="pagination">
        {% if  all_blog.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ posts.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        {% endif %}

        {% for num in  all_blog.paginator.page_range %}

        {% if  all_blog.number == num %}
        <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num >  all_blog.number|add:'-3' and num <  all_blog.number|add:'3' %}
        <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

        {% endfor %}

        {% if  all_blog.has_next %}
        <a class="pagination-action" href="?page={{ posts.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ posts.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        {% endif %}

    </div>
</div>
{% endblock body %}