{% extends 'base.html' %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'contcss/images/icons/favicon.ico' %}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'contcss/css/main.css' %}">
	<!--===============================================================================================-->
</head>
<body>

<div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
	<div class="container-contact2">
		<div class="wrap-contact2">
			<form class="contact100-form validate-form" novalidate method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% include 'include/form.html' %}
				<div class="container-contact2-form-btn">
					<div class="wrap-contact2-form-btn">
						<div class="contact2-form-bgbtn"></div>
						<button class="contact2-form-btn">
							Send Your Message
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>




<!--===============================================================================================-->
<script src="{% static 'contcss/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'contcss/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'contcss/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'contcss/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'contcss/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>

{% endblock body %}
